.mobile-forget-password {
    &__nav {
        // padding-top: 20px;
        position: relative;
        box-shadow: 0px 2px 13px -5px #adb5bd;
        padding: 15px 0;
        background-color: #fff;

        h3 {
            color: #919191;
            font-size: 16px;
        }

        &--back {
            i {
                color: #146FBF;
                font-size: 28px;
                position: absolute;
                right: 5%;
                top: 28%
            }
        }
    }
    &__content{
      margin-top: 30px;
      &--img{
        img{

          width: 200px;
          height: 150px;
        }
      }
      &--text{
        font-size: 14px;
        margin-top: 10px;
      }
      &--input{
        input{
          background-color: transparent;
          height: 50px;
          font-size: 16px;
          &:focus{
            color: #111;
            background-color: transparent;
            border-color: #146FBF;
            outline: 0;
            box-shadow: none;
            font-size: 16px;
          }
        }
      }
      &--btn{
        position: absolute;
        width: 100%;
        bottom: 30px;
        &--submit-btn{
          background-color: #146FBF;
          width: 100%;
          height: 50px;
          color: #fff;
        }
      }
    }

}
.confirm-succes{
  text-align: center;
  .modal-content{
    width: 85%;
    margin: 0 auto;
  }
  &--icon{
    background-color: #4caf50;
    height: 55px;
    width: 55px;
    line-height: 67px;
    margin: 0 auto;
    border-radius: 50%;
    i{
      color: #fff;
      font-size: 35px;
    }
  }
  &--btn{
    button{
      background-color: #146FBF;
            width: 100%;
            height: 40px;
            color: #fff;
    }
  }
}