.item {
    // padding-bottom: 100px;

    &__data {
        border-bottom: 0.4px solid lightgray;
    }
    &__paragraph{
      img{

        width: 100%;
      }
      .image-style-side{
        img{
          width: 100%;
        }
      }
    }
    &__img {
        img {
         width: 100%;
         height: 200px;
         @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait){
          height: 406px;
        }
        
        }
    }

    &__category {
        border-bottom: 0.4px solid lightgray;
        color: black;
    }

    &__info {
        color: #0F3054;
        font-size: 16px;
        font-weight: bolder;
    }

    &__details {
        color: #000000;
        font-size: 14px;
        line-height: 30px;
        img{
          width: 100%;
        }
        iframe{
          width: 100% !important;
          height: 250px;
        }
        button {
            display: block;
            margin: 0 auto;
            width: 95%;
            color: #039BE5;
            background-color: white;
            border-radius: 23px;
            padding: 12px 2rem;
            border: 1px solid #039BE5;
        }
        &__tweetQoute{
            line-height: 30px;
        }
    }
    .tweetable{
        background-color: #e5f6fe;
        color: black;
        padding: 2px 0px;
        &:hover{
            text-decoration: none;
            color: black;
            background-color: darken($color: #e5f6fe, $amount: 5);
        }
    }
    
    .tweetable-span{
       padding-left: 5px; 
       img{
           width: 17px;
           height: 17px;
           object-fit: cover;
       }
    }

    &__telegram{
        border-radius: 23px;
        padding: 6px;
        border: 1px solid #039BE5;
        width: 90%;
        &__btn{
            color: #039BE5;
            font-size: 16px;
            text-decoration: none;
            &:hover{
                color: #039BE5;
                text-decoration: none;
            }
        }
    }

    &__subjects {
      ul{
        padding: 0;
        li{
          display: inline-block;
          margin-bottom: 10px;
          a{
            text-decoration: none;
            color: #2D639D;
            background-color: #EAEFF4;
            border-radius: 21px;
            font-size: 12px;
            padding: 0.4rem 0.6rem;
            margin-left: 3px;
            transition: all 0.4s;
            &:hover {
              background-color: #2D639D;
              color: white;
          }
          }
        }
      }
    }

    &__comments {
        img {
            height: 45px;
            width: 45px;
            object-fit: cover;
        }

        &__head {
            color: #166fbf;
            border-bottom: 1px solid lightgray;

            h4 {
                font-weight: bolder;

                .text-muted {
                    font-size: 13px;
                    font-weight: bolder;
                }
            }
        }

        &__sign {
            display: flex;
            justify-content: space-between;

            &__right {
                flex: 2;

                h6 {
                    font-size: 12px;
                }

                &__signin {
                    color: #166fbf;
                    font-weight: bolder;
                }

                &__addcomment {
                    color: black;
                    font-weight: bolder;
                }

                &__dot {
                    font-weight: lighter;
                    font-size: 5px;
                }

                &__fb {
                    padding: 0.3rem 0.4rem;
                    background-color: #3b5998;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 1.5rem;
                    width: 1.5rem;

                    i {
                        color: white;
                    }
                }

                &__twitter {
                    padding: 0.3rem 0.4rem;
                    background-color: #02a9f4;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 1.5rem;
                    width: 1.5rem;

                    i {
                        color: white;
                    }
                }
            }

            &__left {
                flex: 1;

                h6 {
                    font-weight: bolder;
                    font-size: 16px;
                }
            }
        }

        &__form {
            &__textarea {
                textarea {
                    resize: none;
                    font-size: 16px;

                    &,
                    &:hover,
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        font-size: 16px;
                    }
                }
            }

            &__hint {
                font-size: 0.7rem;
            }

            &__btn {
                padding: 12px 1.6rem;
                color: white;
                font-weight: bolder;
                background-color: #166fbf;
                border-radius: 5px;
            }
        }

        &__container {
            &__comment {
                display: flex;
                align-items: flex-start;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                .comments-text-muted {
                    color: #919191;
                }

                &__meta {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 16px;
                        color: #0F3054;
                    }

                    span {
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                    }
                }

                &__text {
                    font-size: 0.8rem;
                    margin: 0;
                }

                &__actions {
                    display: flex;
                    align-items: center;

                    .btn {
                        font-size: 12px;
                        padding: 0;
                        color: #6c757d;
                    }
                }

                &__replies {
                    margin-top: 1rem;
                    border-right: 1px solid #dedede;
                    padding-right: 6px;

                    &__reply {
                        display: flex;
                        align-items: flex-start;

                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }

                        &__meta {
                            display: flex;
                            align-items: center;

                            p {
                                font-size: 16px;
                                color: #0F3054;
                            }

                            span {
                                font-size: 12px;
                                display: flex;
                                align-items: center;
                                margin-right: 10px;
                            }
                        }

                        &__text {
                            font-size: 0.8rem;
                            margin: 0;
                        }

                        &__actions {
                            display: flex;
                            align-items: center;

                            .btn {
                                font-size: 12px;
                                padding: 0;
                                color: #6c757d;
                            }
                        }
                    }
                }

                .fa-circle {
                    margin: 12px;
                    font-size: 0.2rem;
                }
            }

            &__more {
                width: 100%;
                .btn {
                    background: #eaeff3;
                    border: 0;
                    font-size: 14px;
                    padding: 0.7rem 0;
                    color: #2D639D;

                    &,
                    &:focus,
                    &:hover {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
}

.item-add-comment {
    color: #fff;
    background-color: #19649C;
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    position: fixed;
    bottom: 70px;
    right: 20px;

    i {
        font-size: 20px;
        position: relative;
        top: 3px;
    }
}

.item-actions {
    background: #fff;
    border-top: 1px solid rgba(149, 165, 182, 0.67);
    height: 60px;
    position: sticky;
    bottom: 0;
    
    &__likes, &__share, &__comments{
      color: #95A5B6;
      &:hover{
        text-decoration: none;
        color: #95A5B6;
      }
      &--word{
        font-size: 17px;
        font-family: $font-bold;
        font-weight: $bold;
      }
      img{
        width: 20px;
      }
      &__number{
        font-size: 11px;
      }
    }
    &__share , &__comments{
      position: relative;
      &:before{
        content: "";
        border-right: 1px solid rgba(149, 165, 182, 0.7);
        height: 25px;
        border-width: 1px;
        position: absolute;
        right: -43%;
        top: calc(50% - 14px);
        @media(min-width: 676px){
          opacity: 0;
        }
      }
   
}
   
}

.item-add-comment-modal {
    &.modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .modal-dialog {
        position: fixed;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;

        @media (min-width: 576px) {
            max-width: 100%;
            width: 100%;
        }
    }

    .modal-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        box-shadow: 0px 2px 13px -5px #adb5bd;
        display: flex;
        justify-content: center;

        h3 {
            color: #919191;
            font-size: 16px;
        }

        &--times {
            i {
                color: #146FBF;
                font-size: 28px;
                position: absolute;
                right: 5%;
                top: 28%
            }
        }

    }

    .modal-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .modal-body {
        position: absolute;
        top: 5rem;
        bottom: 0;
        font-size: 15px;
        overflow: auto;
        margin-bottom: 60px;
        padding: 0 15px 0;
        width: 100%;

        &__comment-area {
            position: relative;
            padding-right: 50px;

            img {
                position: absolute;
                top: 0;
                right: 0;
                width: 45px;
            }

            textarea {
                height: 100%;
                width: 100%;
                border: 0;
                font-size: 16px;

                &:focus {
                    box-shadow: none;
                    font-size: 16px;
                }
            }
        }
    }

    .modal-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        padding: 0;
        background: #f1f3f5;

        .submit-btn {
            background-color: #146FBF;
            width: 100%;
            height: 50px;
            color: #fff;
            border-radius: 0;
            margin: 0;
        }
    }
}

.item-add-reply-modal {
    &.modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .modal-dialog {
        position: fixed;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;

        @media (min-width: 576px) {
            max-width: 100%;
            width: 100%;
        }
    }

    .modal-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        box-shadow: 0px 2px 13px -5px #adb5bd;
        display: flex;
        justify-content: center;

        h3 {
            color: #919191;
            font-size: 16px;
        }

        &--times {
            i {
                color: #146FBF;
                font-size: 28px;
                position: absolute;
                right: 5%;
                top: 28%
            }
        }

    }

    .modal-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .modal-body {
        position: absolute;
        top: 5rem;
        bottom: 0;
        font-size: 15px;
        overflow: auto;
        margin-bottom: 60px;
        padding: 0 15px 0;
        width: 100%;

        &__comment {
            position: relative;

            &--img {
                width: 45px;
                border-radius: 5px;
            }

            .vertical-line {
                display: inline-block;
                border-left: 3px solid #ccc;
                margin: 0 20px;
                height: 65%;
                position: absolute;
                top: 50px;
            }

            display: flex;
            align-items: flex-start;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            .comments-text-muted {
                color: #919191;
            }

            &__meta {
                display: flex;
                align-items: center;

                p {
                    font-size: 16px;
                    color: #0F3054;
                }

                span {
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                }
            }

            &__text {
                font-size: 0.8rem;
                margin: 0;
            }

            &__actions {
                display: flex;
                align-items: center;

                .btn {
                    font-size: 12px;
                    padding: 0;
                    color: #6c757d;
                }
            }
        }

        &__reply-area {
            position: relative;
            padding-right: 50px;

            &--img {
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 45px;
                    border-radius: 5px;
                }

                i {
                    position: absolute;
                    right: 26px;
                    top: 30px;
                    color: #fff;
                    background-color: #19649C;
                    padding: 6px;
                    border-radius: 50%;
                    font-size: 10px;
                }
            }

            textarea {
                height: 100%;
                width: 100%;
                border: 0;
                font-size: 16px;

                &:focus {
                    box-shadow: none;
                    font-size: 16px;
                }
            }
        }
    }

    .modal-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        padding: 0;
        background: #f1f3f5;

        .submit-btn {
            background-color: #146FBF;
            width: 100%;
            height: 50px;
            color: #fff;
            border-radius: 0;
            margin: 0;
        }
    }
}

.share-list{
    display: none;
    text-align: left;
    width: 35%;
    border-right: 0.5px solid lightgray;
    border-top: 0.5px solid lightgray;
    padding: 10px 10px 0 10px;
    background-color: white;
    position: absolute;
    left: -8px;
    bottom: 102%;
    @media(max-width:374px){
        padding: 3px 0px;
        left: -11px;
    }
    &__snapchat,&__telegram,&__whatsapp,&__twitter,&__facebook{
        display: inline-block;
        text-decoration: none;
        color: #0F3054;
        font-size: 12px;
        padding:0 5px 15px 5px;
        &:hover{
            text-decoration: none;
            color: black;
        }
        img{
            width: 25px;
            height: 25px;
            margin-right: 8px;
        }
    }
}