.mobile-login {
    background-image: url(/img/mobile/login-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    &__back {
        i {
            color: #146FBF;
            font-size: 28px;
            margin-top: 25px;

        }
    }

    &__social {
        margin-top: 35%;

        &__list {
            padding: 0;
            display: flex;
            text-align: center;
            justify-content: center;

            &--item {
                list-style: none;

                a {
                    display: block;
                    text-decoration: none;
                }

                &--icon {
                    width: 50px;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    display: flex;

                    i {
                        font-size: 30px;
                        color: #fff;
                    }

                    &.google {
                        background-color: white;
                        border: 0.5px solid lightgray;
                    }

                    &.apple {
                        background-color: #36474f;
                    }

                    &.snapchat {
                        background-color: #fbda4c;
                    }

                    &.twitter {
                        background-color: #0faaf4;
                    }

                    &.facebook {
                        background-color: #1d77d3;
                    }
                }

            }
        }

        &__argaam {
            text-align: center;

            &--btn {
                background-color: #FF6C00;
                color: #fff;
                text-decoration: none;
                display: block;
                font-size: 14px;
                height: 50px;
                line-height: 45px;

                img {
                    width: 40px;
                    margin-right: 7px;
                }
            }
        }
    }

    &__form {
        &--title {
          text-align: center;
          margin-top: 15px;
            h5 {
              font-size: 16px;
              color: #777;
                span {
                    display: inline-block;
                    position: relative;

                    &:before,
                    &:after {
                      content: "";
                      position: absolute;
                      height: 5px;
                      border-bottom: 1px solid #777;
                      top: 9px;
                      width: 175%;
                    }

                    &:before {
                        right: 100%;
                        margin-right: 15px;
                    }
                    &:after {
                      left: 100%;
                      margin-left: 15px;
                    }
                }
            }
        }
        &__inputs{
          margin-top: 20px;
          input{
            background-color: transparent;
            height: 50px;
            font-size: 16px;
            &:focus{
              color: #111;
              background-color: transparent;
              border-color: #146FBF;
              outline: 0;
              box-shadow: none;
              font-size: 16px;
            }
          }
          &--forget-link{
            display: block;
          }
          &--submit-btn{
            background-color: #146FBF;
            width: 100%;
            height: 50px;
            color: #fff;
          }
        }
      }
      &__signup{
        background-color: rgba(45, 99, 157, 0.07);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        p{
          font-size: 16px;
          font-family: $font-bold;
font-weight: $bold;
          a{
            color: #2D639D;
          }
        }
      }
}
