.activeAccount{
    color: black;
    h4{
        font-size: 20px;
        font-weight: bolder;
    }
    
        input {
        &, &:hover, &:focus {
            outline: none;
            box-shadow: none;
        }
    
}
    .text-muted{
        font-size: 13px;
        font-weight: bolder;
    }
    h5{
       font-size: 14px;
        span{
            color:#2D639D;
        }
    }
    button{
        border: none;
        color: white;
        background-color: #2D639D;
        border-radius: 3px;
        text-align: center;
        padding: 0.5rem;
        width: 85%;
    }
}

.nav-change{
    background-color:#EAEFF4 ;
    padding: 1.2rem 0;
    display: flex;
    height: 110px;
    align-items: center;
    &__logo{
        flex: 2;
        padding: 0 22rem;
        img{
            
        }
    }
    &__back{
        flex: 1;
        i{
            background-color: white;
            padding: 0.6rem;
            border-radius: 50%;
            font-weight: bolder;
            color: #2D639D;
            font-size: 20px;
            margin-left: 4rem;
        }
    }
}

